.u-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: var(--gap);
}

.u-grid--full-width {
    grid-template-columns:
        minmax(var(--container-padding), 1fr) repeat(
            12,
            minmax(
                auto,
                calc(
                    (
                        (var(--container-max-width) - (var(--container-padding) * 2)) -
                        ((12 - 1) * var(--gap))
                    ) / 12
                )
            )
        )
        minmax(var(--container-padding), 1fr);
}
