/* stylelint-disable number-max-precision */
:root {
    --system-font:
        -apple-system,
        blinkmacsystemfont,
        'Segoe UI',
        roboto,
        oxygen-sans,
        ubuntu,
        cantarell,
        'Helvetica Neue',
        sans-serif;

    /** Fonts */
    --primary-font: 'Rubik', var(--system-font);

    /** Colors */

    --light-grey-1: #EEEFF2;
    --light-grey-2: #DDDDDD;
    --light-grey-3: #F8F8F8;
    --light-grey-4: #AFB5C0;
    --grey-1: #4F5665;
    --dark-blue-1:
        #0B132A
        --black-1: #000000;
    --white-1: #FFFFFF;
    --green-1: #00FF00;
    --green-rgb-1: 0, 255, 0;
    --green-2: #00E700;
    --green-3: #2FAB73;

    /** Spacing */
    --spacer-s: 2rem;
    --spacer-m: 4rem;
    --spacer-l: 6.5rem;
    --spacer-xl: 8rem;
    --spacer-xxl: 16rem;

    /** Typo */
    --typo-50: 3.125rem;
    --typo-35: 2.1875rem;
    --typo-25: 1.5625rem;
    --typo-20: 1.25rem;
    --typo-18: 1.125rem;
    --typo-16: 1rem;
    --typo-14: .875rem;
    --radius-base: .625rem;

    /** Other */
    --container-max-width: 71.25rem;
    --container-padding: 1.25rem;
    --gutter: 1.6rem;
}
